@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
html,body{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: #fff;
    scroll-behavior: smooth;
}
header{
    background-color: black;
    color: #fff;
    height: 60px;
    margin: 0 auto;
}
#top{
display: flex;
align-items: center;
justify-content: space-between;
}
.top-1{
text-align: center;
font-size: 28px;
padding: 20px ;
font-weight: 600;
}
.top12{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 20px;
    padding: 6px 16px;
}
.top11{
    text-transform: uppercase;
}
.top12, .top13{
    text-transform: capitalize;
}
.top13{
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 100;
    font-size: 20px;
    padding: 20px;
}
.top13 h4{
border: 1px solid #888888;
    border-radius: 50px;
    font-weight: 300;
    padding: 8px 16px;
}
.top13 h4:hover{
    cursor: pointer;
    background-color: #888888;
    color: black;
}
#top12-1{
    text-decoration-line: underline;
    text-decoration-color: yellowgreen;
    text-underline-offset: 8px;
}

.ri-search-2-line{
    cursor: pointer;
}
.section-1{
    margin: 0 auto;
    text-align: center;
padding-top: 20px;
}
.ri-asterisk{
    
    font-size: 50px;
    font-weight: 400;
}
.section-1 h2{
    /* margin: 0 auto; */
    text-align: center;
    font-size: 60px;
    padding-top: 50px ;
    padding-bottom: 40px;
    font-weight: 900;
}
.section-1 h1{
    font-size: 50px;
    font-weight: 900;
}
.section-2{
height: 80vh;
background-color: black;
display: flex;
align-items: center;
justify-content: center;
/* opacity: 0.8; */
}
.mid1, mid3{
    width: 25%;
}
.mid2{
    width: 50%;
}
.mid-left img{
    padding: 20px;
    width: 165px;
    object-fit: cover;
    height: 165px;
    border: 4px solid #666;
   border-radius: 50%;
   box-shadow: 0 4px 8px gray;
    transition: transform 0.3s ease;
}
.mid-left p{
    margin-top: 30px;
    text-align: left;
    width: 210px;
    opacity: 0.7;
    font-weight: 400;
}
.mid2 img{
    height: 500px;
}
.mid-right img{
    height: 150px;
}
.mid-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
     margin-top: -250px;
}
.mid-right{
   display: flex; 
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 20px;
}
.mid-right h4{
    font-size: 50px;
    font-weight: 300;
    opacity: 0.8;
    
}
.mid-right p{
    margin-top: -10px;
    text-align: center;
    padding-bottom: 20px;
}

.mid-right .divider{
    border-bottom: 2px solid white;
    width: 100%;
}
.section-3{
    background-color: black;
    opacity: 1;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.bottom-1{
text-align: left;
/* margin-left: -50px; */
width: 20%;
}
.bottom-1 p{
    font-size: 28px;
    padding-bottom: 10px;
    opacity: 0.8;
}
.bottom-1 h4{
    font-size: 50px;
    font-weight: 400;
}
.bottom-2{
    margin-right: -100px;
}
.bottom-2 p{
    font-size: 20px;
    text-align: center;
    width: 400px;
    font-weight: 200;
    opacity: 0.9;
}
.bottom-3{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    font-size: 50px;
    font-weight: 100;
    /* margin-right: -80px; */
    width: 20%;
}
.ri-arrow-left-s-line{
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.ri-arrow-left-s-line:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
    cursor: pointer;
}
.ri-arrow-right-s-line{
    padding: 20px;
    color: black;
    background-color: white;
    border-radius: 10px;
}
.ri-arrow-right-s-line:hover{
    background-color: black;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}
.section-4{
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
   gap: 20px;
   overflow: hidden;
   padding-top: 20px;
   
}
.card{
    margin-top: -40px;
    margin-left: 50px;
    height: 750px;
    width: 550px;
    display: flex;
    flex-direction: column;
text-align: center;
justify-content: flex-start;
    
}
.card img{
    clip-path: polygon(0 0, 44% 0, 56% 12%, 100% 12%, 100% 23%, 100% 28%, 100% 85%, 100% 100%, 85% 100%, 47% 100%, 47% 87%, 0 87%);
 height: 450px;
 width: 350px;
 
    object-fit: cover;
    margin-left: -30px;
    
}
.outerCard{
    border: 2px solid lightslategray;
    border-radius: 15px;
    margin-left: 20px;
    padding: 22px 4px;
    height: 500px;
    width: 400px;
    background-color: #111111;

}
.right{
    text-align: center;
    transform: translate(-10px, 30px);
    font-size: 20px;
}
.left{
    text-align: left;
    font-size: 22px;
    transform: translate(-22px,-35px);
}
.accent{
    font-weight: 100;
    font-size: 16px;
}
.ri-poker-diamonds-fill{
    color: gold;
    font-size: 30px;
    text-align: center;
    padding-right: 5px;
   
}
.tag{
   position: absolute;
    width: auto;
    font-size: 22px;
    background-color: yellow;
    padding:5px;
    color: #111111;
    text-align: center;
    font-weight: 600;
    transform: translate(-60px,65px);
    z-index: 100;
}
.section-5{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 40px;
}
.btn{
    margin-top: -60px;
    border: 2px solid #333;
    border-radius: 20px;
    padding: 10px 40px;
    cursor: pointer;
    
}
.btn:hover{background-color: #111111;
opacity: 0.7;
}
.btn1{
box-shadow: 5px 5px 10px purple;
}
.btn2{
box-shadow: 5px 5px 10px yellowgreen;
}
.btn3{
box-shadow: 5px 5px 10px orange;
}

#wire1{
    height: 180px;
    width: 200px;
    background-image: url("https://luvin-2511.github.io/Cohort/Task-6/Image/efe60e206258809.66d632504deae.gif");
    background-position: center;
    background-size: cover;
    position: absolute;
    transform: translate(200px,-80px);
}

@media (max-width: 1440px) {
    body{
        max-width: 100%;
        height: 100%;
    }
    .section-4{
        margin: 0 auto;
padding:0.1rem;

        max-width: 100%;
        width: 100vw;
gap: 0;

    }
    .outerCard, .card, .card img, .right{
        max-width: 30vw;
        height: auto;
        gap: 0;
        padding: 1rem 0.25rem;
    }
    .card img{
        max-width: 88%;
    }
    .card, .outerCard{
        padding-bottom: 0;
        padding-top: 0.5rem;
    }
    .section-5 .btn{
        max-width: max-content;
        height: auto;
        margin: 0 auto;
    }
 .right{
    display: grid;
     justify-items: center;
     justify-content: center;
     margin-left: 3rem;
     gap: 0;
     padding: 0 2rem;
     font-size: 1.1rem;
}
}

@media (max-width: 1024px) {
    header{
        display: flex;
        justify-content: space-around;
        justify-items: center;
    }
    .top-1{
        font-size: 2.1vw;
        margin: 0 auto;
    }
    .section-1{
        font-size: 2.4vw;
    }
    .mid2 img{
        max-width: 50vw;
        max-height: 50vh;
    }
    .section-2 {
        display: grid;
        grid-template-columns: 0.2fr 0.6fr 0.2fr;
        padding: 4rem 2rem;
        gap: 0;
        justify-content: space-around;
        max-width: 100%;
        align-items: center;
        justify-items: start;
        height: 100%;

    }
    .mid-right img{
        max-width: 30vw;
        max-height: 15vw;
    }
    .mid1 img{
        max-width: 15vw;
        max-height: 15vw;
    }
    .section-4{
        margin-top: 5rem;
    }
    .section-3{
        display: grid;
        grid-template-columns: 1fr;
        max-width: 100%;
        justify-content: space-between;
        align-items: center;
        justify-items: center;
        align-content: space-around;
        gap: 4rem;
    }
    .bottom-1, .bottom-2, .bottom-3{
        max-width: 100%;

    }
    .right{
        padding: 0 1rem;
        display: block;
    }
    .section-5 .btn{
        max-width: 33vw;
        padding: 0.5rem 1rem;
        margin:0 auto;
    }

}
@media (max-width: 790px) {

    .section-2{
        display: grid;
       grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        justify-items: center;
        justify-self: center;
        margin-top: 15rem;
gap: 0;
    }
    .mid-left{
display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: start;
        justify-self: start;
        gap: 2rem;
    }
    .section-4{
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 10rem;

    }
    .outerCard, .card, .card img, .right{
        max-width: 100%;
        height: auto;
        gap: 0;
        padding: 0.4rem 0.25rem;
    }
    .right{
        display: block;
        text-align: center;
        padding-left: 4rem;
    }
    .left{
        display: flex;
       align-items: flex-start;
        justify-content: flex-start;

    }
    main {
        position: relative;
    }
    .btn1{
        position: absolute;
bottom: 34%;
        left: 36%;
        max-width: 100%;
        text-align: center;
    }
    .btn2{
        position: absolute;
        bottom: 18.5%;
        left: 36%;
        max-width: 100%;
        text-align: center;
    }
    .btn3{
        position: absolute;
        max-width: 100%;
        text-align: center;
        bottom: 2.8%;
        left: 36%;
    }
    .mid2 img{
        max-width: 100vw;

    }
    .mid2{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ri-search-2-line{
        font-size: 4vw;
    }
}
@media (max-width: 680px) {
    body{
        margin:0 auto;
        overflow-x: hidden;
    }
    main{
        max-width: 100%;
        margin: 0 auto;
    }
    .btn {
       font-size: 6vw;

    }

}
@media (max-width: 580px) {
    #top{
        display: grid;
    }
    header h4{
        font-size: 5vw;
    }
    header{
        margin-bottom:5rem
    }
    .mid-left, .bottom-1{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        max-width: 100%;
    }
    .bottom-2{
        padding-right:4rem;
    }
    .bottom-3{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .btn {
        font-size: 5vw;
    }

}